.navContainer {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}