.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-img {
    border-radius: 50%;
    min-width: 150px;
    max-width: 250px;
}

.header-title {
    display: block;
    text-align: center;
}